$fallback-font: "Helvetica";
$proxima-nova: proxima-nova;
$source-sans-pro: source-sans-pro;
$bitter: "Bitter";
$design-bg-color: $brand-primary;
$code-bg-color: $brand-danger;
$photo-bg-color: $brand-success;
$contact-bg-color: $brand-info;
$bg-color-darker: 5%;
$portfolio-space-outer: 30px;
$portfolio-space-inner: 15px;