@import '../../assets/stylesheets/_bootstrap.scss';
@import 'own-var.scss';

body {
    font-family: $fallback-font;
}

#hey {
    height: 100vh;
    font-family: $proxima-nova, $fallback-font;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 100vh;
    vertical-align: middle;
    margin: 0;
    opacity: 0;
}

.fadeIn {
    -webkit-animation: fadeInHey 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: fadeInHey 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @-webkit-keyframes fadeInHey {
        0%   {
            margin-top: 50px;
            opacity: 0;
        }
        100% {
            margin-top: 0;
            opacity: 1;
        }
    }
    @keyframes fadeInHey {
        0%   {
            margin-top: 50px;
            opacity: 0;
        }
        100% {
            margin-top: 0;
            opacity: 1;
        }
    }
}

p {
    font-family: $source-sans-pro, $fallback-font;
    font-size: 2rem;
}

#about {
    height: 100vh;
    .container {
        vertical-align: middle;
    }
    .about-icon {
        margin-bottom: 40px;
        img {
            border-radius: 100%;
        }
    }
}

#contact {
/*     min-height: 100vh; */
    background-color: #f5f5f5;
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .btn-default {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        padding: 0;
        color: $brand-primary;
        &:active {
            box-shadow: none;
        }
    }
    .well {
        border: none;
        box-shadow: none;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $bitter, serif;
}

#portfolio {
    hr {
        margin-top: 10px;
    }
}

[class*=portfolio-] {
    margin-top: $portfolio-space-outer;
    margin-bottom: $portfolio-space-outer;
    .row {
        padding-top: $portfolio-space-inner;
        padding-bottom: $portfolio-space-inner;
    }
}

@media (min-width: $screen-md-min) {
    #hey {
        color: #fff;
    }
    #hey-bg {
        background-image: url('../img/hey-bg.jpg');
        background-size: cover;
    }
}

@media (min-width: $screen-md-max) {
    #skills {
        padding-top: 50px;
        margin-bottom: 100px;
    }
    #contact {
        min-height: 75vh;
    }
    #about {
        $margin-space-vertical: 150px;
        height: 100%;
        margin-top: $margin-space-vertical;
        margin-bottom: $margin-space-vertical;
    }
}

@media (max-width: $screen-md-max) {
    #skills {
        margin-bottom: 50px;
    }/* 
    #contact {
        max-height: 50vh;
    } */
    #about {
        height: 75vh;
    }
}