@import "../../_offline/bootstrap_scss/_bootstrap";

button {
    /* width: 100%; */
    margin: 50px auto;
    .icon-bar {
        background-color: #888;
        height: 2px;
        width: 22px;
        border-radius: 1px;
        display: block;
        + .icon-bar {
            margin-top: 4px;
        }
    }
    $duration: .25s;
    $position0: 0;
    $position50: 4px;
    $position75: 5px;
    $position100: 6px;
    $rotation0: 0deg;
    $rotation50: 0deg;
    $rotation75: 22.25deg;
    $rotation100: 45deg;
    @mixin animation($name) {
        -webkit-animation: $name $duration;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation: $name $duration;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    &[aria-expanded=true] {
        .icon-bar {
            &:nth-child(2) {
                @include animation(bar-top);
                position: relative;
                
                @mixin bar-top() {
                    0% {
                        top: $position0;
                        transform: rotate($rotation0);
                    }
                    50% {
                        top: $position50;
                        transform: rotate($rotation50);
                    }
                    75% {
                        top: $position75;
                        transform: rotate(-$rotation75);
                    }
                    100% {
                        top: $position100 - 1;
                        transform: rotate(-$rotation100);
                    }
                }
                @-webkit-keyframes bar-top {
                    @include bar-top();
                }
                
                @keyframes bar-top {
                    @include bar-top();
                }
            }
            &:nth-child(3) {
                @include animation(bar-middle);
                
                @mixin bar-middle() {
                    0% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                @-webkit-keyframes bar-middle {
                    @include bar-middle();
                }
                
                @keyframes bar-middle {
                    @include bar-middle();
                }
            }
            &:nth-child(4) {
                @include animation(bar-bottom);
                position: relative;
                
                @mixin bar-bottom() {
                    0% {
                        top: $position0;
                        transform: rotate($rotation0);
                    }
                    50% {
                        top: -$position50;
                        transform: rotate($rotation50);
                    }
                    75% {
                        top: -$position75;
                        transform: rotate($rotation75);
                    }
                    100% {
                        top: -$position100 - 1;
                        transform: rotate($rotation100);
                    }
                }
                @-webkit-keyframes bar-bottom {
                    @include bar-bottom();
                }
                
                @keyframes bar-bottom {
                    @include bar-bottom();
                }
            }
        }
    }
    &[aria-expanded=false] {
        .icon-bar {
            &:nth-child(2) {
                @include animation(bar-top-normal);
                position: relative;
                
                @mixin bar-top-normal() {
                    0% {
                        top: $position100;
                        transform: rotate(-$rotation100);
                    }
                    50% {
                        top: $position75;
                        transform: rotate(-$rotation75);
                    }
                    75% {
                        top: $position50;
                        transform: rotate($rotation50);
                    }
                    100% {
                        top: $position0;
                        transform: rotate($rotation0);
                    }
                }
                @-webkit-keyframes bar-top-normal {
                    @include bar-top-normal();
                }
                
                @keyframes bar-top-normal {
                    @include bar-top-normal();
                }
            }
            &:nth-child(3) {
                @include animation(bar-middle-normal);
                animation-fill-mode: forwards;
                
                @mixin bar-middle-normal() {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @-webkit-keyframes bar-middle-normal {
                    @include bar-middle-normal();
                }
                
                @keyframes bar-middle-normal {
                    @include bar-middle-normal();
                }
            }
            &:nth-child(4) {
                @include animation(bar-bottom-normal);
                position: relative;
                
                @mixin bar-bottom-normal() {
                    0% {
                        top: -$position100;
                        transform: rotate($rotation100);
                    }
                    50% {
                        top: -$position75;
                        transform: rotate($rotation75);
                    }
                    75% {
                        top: -$position50;
                        transform: rotate($rotation50);
                    }
                    100% {
                        top: $position0;
                        transform: rotate($rotation0);
                    }
                }
                @-webkit-keyframes bar-bottom-normal {
                    @include bar-bottom-normal();
                }
                
                @keyframes bar-bottom-normal {
                    @include bar-bottom-normal();
                }
            }
        }
    }
}