@mixin slack-line() {
    width: 25px;
    height: 130px;
    border-radius: 50px;
    position: absolute;
    opacity: 0.7;
}

.wrapper {
    margin-left: 50px;
    border: 1px solid #f00;
}

.blue-line {
    background-color: #6ecadc;
    @include slack-line();
    transform: rotate(90deg);
    top: -20px;
    //transform: rotate(72deg);
    //top: 10px;
    //left: 90px;
}

.red-line {
    background-color: #e01563;
    @include slack-line();
    transform: rotate(90deg);
    top: 20px;
    //transform: rotate(72deg);
    //top: 63px;
    //left: 105px;
}

.green-line {
    background-color: #3eb991;
    @include slack-line();
    left: ;
    //transform: rotate(-18deg);
    //top: 45px;
    //left: 72px;
}

.yellow-line {
    background-color: #e9a820;
    @include slack-line();
    //transform: rotate(-18deg);
    //top: 28px;
    //left: 123px;
}