/*
Error: Invalid CSS after "    left: ": expected expression (e.g. 1px, bold), was ";"
        on line 37 of /Users/Paul/Sites/beta/slack/style.scss

32: }
33: 
34: .green-line {
35:     background-color: #3eb991;
36:     @include slack-line();
37:     left: ;
38:     //transform: rotate(-18deg);
39:     //top: 45px;
40:     //left: 72px;
41: }
42: 

Backtrace:
/Users/Paul/Sites/beta/slack/style.scss:37
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/lexer.rb:221:in `expected!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:573:in `assert_expr'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:62:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1027:in `sass_script'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:880:in `value!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1141:in `call'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1141:in `rethrow'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:766:in `try_declaration'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:661:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:642:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:635:in `ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:660:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:42:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:393:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:407:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    left: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 37 of /Users/Paul/Sites/beta/slack/style.scss\A \A 32: }\A 33: \A 34: .green-line {\A 35:     background-color: #3eb991;\A 36:     @include slack-line();\A 37:     left: ;\A 38:     //transform: rotate(-18deg);\A 39:     //top: 45px;\A 40:     //left: 72px;\A 41: }\A 42: "; }
